<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_26e69e85d2804b778d838f5ad6262052 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_26e69e85d2804b778d838f5ad6262052" ></div>
        
</body>
<script>    
    
            var map_26e69e85d2804b778d838f5ad6262052 = L.map(
                "map_26e69e85d2804b778d838f5ad6262052",
                {
                    center: [49.8326046, 23.8721529],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_db4c310e3c304b1e88405257dc964c26 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_26e69e85d2804b778d838f5ad6262052);
        
    
            var feature_group_b0594007dccc48e28a65e7ee93490fee = L.featureGroup(
                {}
            ).addTo(map_26e69e85d2804b778d838f5ad6262052);
        
    
            var marker_faabdbee34aa4f16a88252944d722248 = L.marker(
                [49.841952, 24.0315921],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_3540ff79a60e4ed78ff9a09629872e29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_faabdbee34aa4f16a88252944d722248.setIcon(icon_3540ff79a60e4ed78ff9a09629872e29);
        
    
        var popup_3c5893e503d6405c9773d3bc9b8f7d2b = L.popup({"maxWidth": "100%"});

        
            var html_6d78d39543714a2f9990044465f80fd2 = $(`<div id="html_6d78d39543714a2f9990044465f80fd2" style="width: 100.0%; height: 100.0%;">aldi_viri, jb_ravenborn, studtimes, SoftServeCareer</div>`)[0];
            popup_3c5893e503d6405c9773d3bc9b8f7d2b.setContent(html_6d78d39543714a2f9990044465f80fd2);
        

        marker_faabdbee34aa4f16a88252944d722248.bindPopup(popup_3c5893e503d6405c9773d3bc9b8f7d2b)
        ;

        
    
    
            var marker_17c59ad609594d2d8f9775d8db9d1542 = L.marker(
                [35.021041, 135.7556075],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_acdfe0dbdfff4e09a6ae532c542a2e2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_17c59ad609594d2d8f9775d8db9d1542.setIcon(icon_acdfe0dbdfff4e09a6ae532c542a2e2b);
        
    
        var popup_6773c32a5e9043828b2b352d7512cfbc = L.popup({"maxWidth": "100%"});

        
            var html_f70030641abd433f8fc72837f854caec = $(`<div id="html_f70030641abd433f8fc72837f854caec" style="width: 100.0%; height: 100.0%;">AkiyoshiKitaoka</div>`)[0];
            popup_6773c32a5e9043828b2b352d7512cfbc.setContent(html_f70030641abd433f8fc72837f854caec);
        

        marker_17c59ad609594d2d8f9775d8db9d1542.bindPopup(popup_6773c32a5e9043828b2b352d7512cfbc)
        ;

        
    
    
            var marker_4f048773ddbf4966a8ffce5554879449 = L.marker(
                [49.482968, -123.8853569],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_8c1dbfcee4754b15b4bf53a2f2a3cd39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4f048773ddbf4966a8ffce5554879449.setIcon(icon_8c1dbfcee4754b15b4bf53a2f2a3cd39);
        
    
        var popup_4ad514da165c4d598c7773661ec06918 = L.popup({"maxWidth": "100%"});

        
            var html_4e6217ae920c4f57830dd84fd80e5d3c = $(`<div id="html_4e6217ae920c4f57830dd84fd80e5d3c" style="width: 100.0%; height: 100.0%;">InertialObservr</div>`)[0];
            popup_4ad514da165c4d598c7773661ec06918.setContent(html_4e6217ae920c4f57830dd84fd80e5d3c);
        

        marker_4f048773ddbf4966a8ffce5554879449.bindPopup(popup_4ad514da165c4d598c7773661ec06918)
        ;

        
    
    
            var marker_5a2ffb2d6bcd4961867c0cbf9b469a22 = L.marker(
                [3.5000086, -73.0000086],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_f465a431d26342a592f463f615926484 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5a2ffb2d6bcd4961867c0cbf9b469a22.setIcon(icon_f465a431d26342a592f463f615926484);
        
    
        var popup_c6bca998a45245538ef3eadde6b42ff8 = L.popup({"maxWidth": "100%"});

        
            var html_4a1ef6d94c2e4b858f445a35e2b4b8cf = $(`<div id="html_4a1ef6d94c2e4b858f445a35e2b4b8cf" style="width: 100.0%; height: 100.0%;">archillect</div>`)[0];
            popup_c6bca998a45245538ef3eadde6b42ff8.setContent(html_4a1ef6d94c2e4b858f445a35e2b4b8cf);
        

        marker_5a2ffb2d6bcd4961867c0cbf9b469a22.bindPopup(popup_c6bca998a45245538ef3eadde6b42ff8)
        ;

        
    
    
            var marker_c20d76fa0b3d490da8b180da4676f002 = L.marker(
                [37.879842249999996, -122.24423827947126],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_5dbd2c6ef929439fbf3832a5f593d96c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c20d76fa0b3d490da8b180da4676f002.setIcon(icon_5dbd2c6ef929439fbf3832a5f593d96c);
        
    
        var popup_606df8a238a34b838bcb0aeb0b0d55ac = L.popup({"maxWidth": "100%"});

        
            var html_ea9c24b7a3404b2ab391f371224aa96e = $(`<div id="html_ea9c24b7a3404b2ab391f371224aa96e" style="width: 100.0%; height: 100.0%;">numberphile</div>`)[0];
            popup_606df8a238a34b838bcb0aeb0b0d55ac.setContent(html_ea9c24b7a3404b2ab391f371224aa96e);
        

        marker_c20d76fa0b3d490da8b180da4676f002.bindPopup(popup_606df8a238a34b838bcb0aeb0b0d55ac)
        ;

        
    
    
            var marker_b6fd70f708e04477946c19c821ba0ffe = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_ab7d7a5fa2a54a6098080fdf5f033c3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b6fd70f708e04477946c19c821ba0ffe.setIcon(icon_ab7d7a5fa2a54a6098080fdf5f033c3a);
        
    
        var popup_4daca871dc0f43cf82c0fe07e7520d75 = L.popup({"maxWidth": "100%"});

        
            var html_d2cbefc7b7d14b4fbc22cb7256dd1813 = $(`<div id="html_d2cbefc7b7d14b4fbc22cb7256dd1813" style="width: 100.0%; height: 100.0%;">jakerawr, tweetsauce, jimmykimmel</div>`)[0];
            popup_4daca871dc0f43cf82c0fe07e7520d75.setContent(html_d2cbefc7b7d14b4fbc22cb7256dd1813);
        

        marker_b6fd70f708e04477946c19c821ba0ffe.bindPopup(popup_4daca871dc0f43cf82c0fe07e7520d75)
        ;

        
    
    
            var marker_56316b980a434d02aa4c67bfa5ac0de4 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_d0e2792a1c5e4d3f95386f2fdc329bd6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_56316b980a434d02aa4c67bfa5ac0de4.setIcon(icon_d0e2792a1c5e4d3f95386f2fdc329bd6);
        
    
        var popup_620f7cafdf2b43e38f0df2a5cc8d69fa = L.popup({"maxWidth": "100%"});

        
            var html_7ebad0fdd2fe4981b4a46e6e114a6692 = $(`<div id="html_7ebad0fdd2fe4981b4a46e6e114a6692" style="width: 100.0%; height: 100.0%;">tomscott, Yarmolenko_7</div>`)[0];
            popup_620f7cafdf2b43e38f0df2a5cc8d69fa.setContent(html_7ebad0fdd2fe4981b4a46e6e114a6692);
        

        marker_56316b980a434d02aa4c67bfa5ac0de4.bindPopup(popup_620f7cafdf2b43e38f0df2a5cc8d69fa)
        ;

        
    
    
            var marker_d889373df5d640f8be41c1dfdec3ed7c = L.marker(
                [32.7762719, -96.7968559],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_06854e3163694ea68640e146ae51461c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d889373df5d640f8be41c1dfdec3ed7c.setIcon(icon_06854e3163694ea68640e146ae51461c);
        
    
        var popup_6eec46546d644acf9ff66e24bb704eb7 = L.popup({"maxWidth": "100%"});

        
            var html_9d418ec08f7944678b8080180804cb3c = $(`<div id="html_9d418ec08f7944678b8080180804cb3c" style="width: 100.0%; height: 100.0%;">brandontonlu</div>`)[0];
            popup_6eec46546d644acf9ff66e24bb704eb7.setContent(html_9d418ec08f7944678b8080180804cb3c);
        

        marker_d889373df5d640f8be41c1dfdec3ed7c.bindPopup(popup_6eec46546d644acf9ff66e24bb704eb7)
        ;

        
    
    
            var marker_2cbe9132dcbd42039f7a9521e07e58b0 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_309b88771cba4a0688345e03c625f245 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2cbe9132dcbd42039f7a9521e07e58b0.setIcon(icon_309b88771cba4a0688345e03c625f245);
        
    
        var popup_fecd11ecedb246e0b9c600499f1fdb3b = L.popup({"maxWidth": "100%"});

        
            var html_db53fd85907a47fbb84b3717a742eeb1 = $(`<div id="html_db53fd85907a47fbb84b3717a742eeb1" style="width: 100.0%; height: 100.0%;">frojek_is, lastanislavska, Blackfont26, olena_homuliak, bmtfc, InSearch_pro, ITAwardsUA</div>`)[0];
            popup_fecd11ecedb246e0b9c600499f1fdb3b.setContent(html_db53fd85907a47fbb84b3717a742eeb1);
        

        marker_2cbe9132dcbd42039f7a9521e07e58b0.bindPopup(popup_fecd11ecedb246e0b9c600499f1fdb3b)
        ;

        
    
    
            var marker_0a590be539c7488db75aec9511f6e0cf = L.marker(
                [33.425884, -111.9364436],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_406221a185e44ea48514a371a1b96fab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0a590be539c7488db75aec9511f6e0cf.setIcon(icon_406221a185e44ea48514a371a1b96fab);
        
    
        var popup_e2ffd113f7f54e41a8d52b3c9dadfb47 = L.popup({"maxWidth": "100%"});

        
            var html_9242c17a04514ee492dc2afc3fb42b13 = $(`<div id="html_9242c17a04514ee492dc2afc3fb42b13" style="width: 100.0%; height: 100.0%;">CDisillusion</div>`)[0];
            popup_e2ffd113f7f54e41a8d52b3c9dadfb47.setContent(html_9242c17a04514ee492dc2afc3fb42b13);
        

        marker_0a590be539c7488db75aec9511f6e0cf.bindPopup(popup_e2ffd113f7f54e41a8d52b3c9dadfb47)
        ;

        
    
    
            var marker_8f3787287da84f7eac99c7b60a29521a = L.marker(
                [51.3210437, 4.9367415],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_77994e37434140508ceca4d4e56ceb98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8f3787287da84f7eac99c7b60a29521a.setIcon(icon_77994e37434140508ceca4d4e56ceb98);
        
    
        var popup_4af14b8c1b1b41f0ae1264c590f71b6b = L.popup({"maxWidth": "100%"});

        
            var html_5cff408e211b49db9f699084bdf9abbf = $(`<div id="html_5cff408e211b49db9f699084bdf9abbf" style="width: 100.0%; height: 100.0%;">OneDevloperArmy</div>`)[0];
            popup_4af14b8c1b1b41f0ae1264c590f71b6b.setContent(html_5cff408e211b49db9f699084bdf9abbf);
        

        marker_8f3787287da84f7eac99c7b60a29521a.bindPopup(popup_4af14b8c1b1b41f0ae1264c590f71b6b)
        ;

        
    
    
            var marker_e7dbb7c70a5c46729bd7a22bf08e1cb3 = L.marker(
                [45.3842702, -73.995482],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_9af2e375a27c45b8986c70bb90c32060 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e7dbb7c70a5c46729bd7a22bf08e1cb3.setIcon(icon_9af2e375a27c45b8986c70bb90c32060);
        
    
        var popup_bad5e70c03a448e78be0ef40f547fab8 = L.popup({"maxWidth": "100%"});

        
            var html_02636ad066eb47509f9df1ea809fd621 = $(`<div id="html_02636ad066eb47509f9df1ea809fd621" style="width: 100.0%; height: 100.0%;">MarkRober</div>`)[0];
            popup_bad5e70c03a448e78be0ef40f547fab8.setContent(html_02636ad066eb47509f9df1ea809fd621);
        

        marker_e7dbb7c70a5c46729bd7a22bf08e1cb3.bindPopup(popup_bad5e70c03a448e78be0ef40f547fab8)
        ;

        
    
    
            var marker_448055d4ce984c90b198abf042506ab1 = L.marker(
                [37.62814305, -122.42521678541321],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_abcc1f3305e740a28c1d119c11da3e42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_448055d4ce984c90b198abf042506ab1.setIcon(icon_abcc1f3305e740a28c1d119c11da3e42);
        
    
        var popup_5d5089872f404beda371cf6c7d1f8cb8 = L.popup({"maxWidth": "100%"});

        
            var html_0da4427a1ddf43b2808320711af544be = $(`<div id="html_0da4427a1ddf43b2808320711af544be" style="width: 100.0%; height: 100.0%;">and_kolesnik</div>`)[0];
            popup_5d5089872f404beda371cf6c7d1f8cb8.setContent(html_0da4427a1ddf43b2808320711af544be);
        

        marker_448055d4ce984c90b198abf042506ab1.bindPopup(popup_5d5089872f404beda371cf6c7d1f8cb8)
        ;

        
    
    
            var marker_492e2acb8f5e4f9d8e87c50ee5838f76 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_61d1ee2714f240ca997c082a36292a64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_492e2acb8f5e4f9d8e87c50ee5838f76.setIcon(icon_61d1ee2714f240ca997c082a36292a64);
        
    
        var popup_cc256a351438414b8ce6b38a23cb21b7 = L.popup({"maxWidth": "100%"});

        
            var html_9df953fd71d0450a9f54075d2e77b90d = $(`<div id="html_9df953fd71d0450a9f54075d2e77b90d" style="width: 100.0%; height: 100.0%;">MKBHD</div>`)[0];
            popup_cc256a351438414b8ce6b38a23cb21b7.setContent(html_9df953fd71d0450a9f54075d2e77b90d);
        

        marker_492e2acb8f5e4f9d8e87c50ee5838f76.bindPopup(popup_cc256a351438414b8ce6b38a23cb21b7)
        ;

        
    
    
            var marker_067702c4c40541b8aa3dd88912a75f1d = L.marker(
                [46.4873195, 30.7392776],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_8e4b4f5966b74c20adccd5c88fb0f5bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_067702c4c40541b8aa3dd88912a75f1d.setIcon(icon_8e4b4f5966b74c20adccd5c88fb0f5bb);
        
    
        var popup_6ee0c693e02a4c3bbc2193d65061f527 = L.popup({"maxWidth": "100%"});

        
            var html_79815431fc0a4490803d75fd176a3080 = $(`<div id="html_79815431fc0a4490803d75fd176a3080" style="width: 100.0%; height: 100.0%;">Julia_hr, Cyber_Julia</div>`)[0];
            popup_6ee0c693e02a4c3bbc2193d65061f527.setContent(html_79815431fc0a4490803d75fd176a3080);
        

        marker_067702c4c40541b8aa3dd88912a75f1d.bindPopup(popup_6ee0c693e02a4c3bbc2193d65061f527)
        ;

        
    
    
            var marker_8c16bde32e834f96867c431a63c6db9d = L.marker(
                [41.8755616, -87.6244212],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_443ab3eb06d8423684f1510b30d9ba48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8c16bde32e834f96867c431a63c6db9d.setIcon(icon_443ab3eb06d8423684f1510b30d9ba48);
        
    
        var popup_41f261de33fe43939b5ac5ca2c1f4fa7 = L.popup({"maxWidth": "100%"});

        
            var html_16a00a30738447908dd52a69603cae7d = $(`<div id="html_16a00a30738447908dd52a69603cae7d" style="width: 100.0%; height: 100.0%;">KlesnyakLesnyak</div>`)[0];
            popup_41f261de33fe43939b5ac5ca2c1f4fa7.setContent(html_16a00a30738447908dd52a69603cae7d);
        

        marker_8c16bde32e834f96867c431a63c6db9d.bindPopup(popup_41f261de33fe43939b5ac5ca2c1f4fa7)
        ;

        
    
    
            var marker_88c3ab8ae935494ca802da20d1fd12ca = L.marker(
                [40.7896239, -73.9598939],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_9e35891fe38e47b097cbe37ca3b301e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_88c3ab8ae935494ca802da20d1fd12ca.setIcon(icon_9e35891fe38e47b097cbe37ca3b301e7);
        
    
        var popup_1a0803c34ad142008b387f204ab9076f = L.popup({"maxWidth": "100%"});

        
            var html_b8faf1c3cc4a4862b5f61e8e98ab5b72 = $(`<div id="html_b8faf1c3cc4a4862b5f61e8e98ab5b72" style="width: 100.0%; height: 100.0%;">MartaDavydchak</div>`)[0];
            popup_1a0803c34ad142008b387f204ab9076f.setContent(html_b8faf1c3cc4a4862b5f61e8e98ab5b72);
        

        marker_88c3ab8ae935494ca802da20d1fd12ca.bindPopup(popup_1a0803c34ad142008b387f204ab9076f)
        ;

        
    
    
            var marker_005e57d4ddd846b3b7aa4c617f526543 = L.marker(
                [50.4500336, 30.5241361],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_bbdc2a6de32e496c9eacefe1960c08c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_005e57d4ddd846b3b7aa4c617f526543.setIcon(icon_bbdc2a6de32e496c9eacefe1960c08c1);
        
    
        var popup_55895e3678ce4112857b4a0f9014872d = L.popup({"maxWidth": "100%"});

        
            var html_8bbefc8405884d05a831b64a52d8fe99 = $(`<div id="html_8bbefc8405884d05a831b64a52d8fe99" style="width: 100.0%; height: 100.0%;">1000turov, ViktorVatsko, yan_gordienko, StartIT_center, usmusicua, s_vakarchuk</div>`)[0];
            popup_55895e3678ce4112857b4a0f9014872d.setContent(html_8bbefc8405884d05a831b64a52d8fe99);
        

        marker_005e57d4ddd846b3b7aa4c617f526543.bindPopup(popup_55895e3678ce4112857b4a0f9014872d)
        ;

        
    
    
            var marker_54b52cdfa0ea4b7c85d44265f72b3493 = L.marker(
                [56.9493977, 24.1051846],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_2583b0c3bf10487d89a3f1d7a5b5999e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_54b52cdfa0ea4b7c85d44265f72b3493.setIcon(icon_2583b0c3bf10487d89a3f1d7a5b5999e);
        
    
        var popup_155fcf32df474016a5069b31149ddb99 = L.popup({"maxWidth": "100%"});

        
            var html_3ee509c554a14ec6a24db933b7a7ccb5 = $(`<div id="html_3ee509c554a14ec6a24db933b7a7ccb5" style="width: 100.0%; height: 100.0%;">orangebrains</div>`)[0];
            popup_155fcf32df474016a5069b31149ddb99.setContent(html_3ee509c554a14ec6a24db933b7a7ccb5);
        

        marker_54b52cdfa0ea4b7c85d44265f72b3493.bindPopup(popup_155fcf32df474016a5069b31149ddb99)
        ;

        
    
    
            var marker_ec0def2de35d43898f1aaab9c6751583 = L.marker(
                [55.4792046, 37.3273304],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_3c837c1047614d349ef430bdaf752117 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ec0def2de35d43898f1aaab9c6751583.setIcon(icon_3c837c1047614d349ef430bdaf752117);
        
    
        var popup_3b755556148d4ca4963934db9af0a0ca = L.popup({"maxWidth": "100%"});

        
            var html_c689f530f68b4af5aaa51bd5b2154aea = $(`<div id="html_c689f530f68b4af5aaa51bd5b2154aea" style="width: 100.0%; height: 100.0%;">drunish</div>`)[0];
            popup_3b755556148d4ca4963934db9af0a0ca.setContent(html_c689f530f68b4af5aaa51bd5b2154aea);
        

        marker_ec0def2de35d43898f1aaab9c6751583.bindPopup(popup_3b755556148d4ca4963934db9af0a0ca)
        ;

        
    
    
            var marker_2bb566a970b44fba9d2bddb4a16604f0 = L.marker(
                [51.5142273, 7.4652789],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_1238659ecb77461eb64dd19807c4a1aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2bb566a970b44fba9d2bddb4a16604f0.setIcon(icon_1238659ecb77461eb64dd19807c4a1aa);
        
    
        var popup_30ba32efcd7c42a2aa17a273f49aaff7 = L.popup({"maxWidth": "100%"});

        
            var html_8eb35121496745798365811e0d397a7a = $(`<div id="html_8eb35121496745798365811e0d397a7a" style="width: 100.0%; height: 100.0%;">MarioGoetze, woodyinho</div>`)[0];
            popup_30ba32efcd7c42a2aa17a273f49aaff7.setContent(html_8eb35121496745798365811e0d397a7a);
        

        marker_2bb566a970b44fba9d2bddb4a16604f0.bindPopup(popup_30ba32efcd7c42a2aa17a273f49aaff7)
        ;

        
    
    
            var marker_8f5cb97e8d50440a85b3aa835b907995 = L.marker(
                [37.3228934, -122.0322895],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_ea58a69b1d454bcdb0a89312ddef730d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8f5cb97e8d50440a85b3aa835b907995.setIcon(icon_ea58a69b1d454bcdb0a89312ddef730d);
        
    
        var popup_07752b9beffe4fd58d9991ce86c69939 = L.popup({"maxWidth": "100%"});

        
            var html_1effe63910994e788373d66ef976002c = $(`<div id="html_1effe63910994e788373d66ef976002c" style="width: 100.0%; height: 100.0%;">wylsacom</div>`)[0];
            popup_07752b9beffe4fd58d9991ce86c69939.setContent(html_1effe63910994e788373d66ef976002c);
        

        marker_8f5cb97e8d50440a85b3aa835b907995.bindPopup(popup_07752b9beffe4fd58d9991ce86c69939)
        ;

        
    
    
            var marker_b2a46cb52e684221aeed9b79749e217b = L.marker(
                [46.476669, 41.541008],
                {}
            ).addTo(feature_group_b0594007dccc48e28a65e7ee93490fee);
        
    
            var icon_1e661680e94844089e2a734f49908855 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "red", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b2a46cb52e684221aeed9b79749e217b.setIcon(icon_1e661680e94844089e2a734f49908855);
        
    
        var popup_ea973c91e68441dd8aba9112d3f0e9a0 = L.popup({"maxWidth": "100%"});

        
            var html_98e85f4fc238465b9f11615b18e5aac7 = $(`<div id="html_98e85f4fc238465b9f11615b18e5aac7" style="width: 100.0%; height: 100.0%;">RedioRus</div>`)[0];
            popup_ea973c91e68441dd8aba9112d3f0e9a0.setContent(html_98e85f4fc238465b9f11615b18e5aac7);
        

        marker_b2a46cb52e684221aeed9b79749e217b.bindPopup(popup_ea973c91e68441dd8aba9112d3f0e9a0)
        ;

        
    
</script>